.vscode/
build/
.DS_Store

# Computer Vision
ComputerVision/build/*
ComputerVision/videos/*
ComputerVision/images/*
ComputerVision/output/*

# Motion Planning
MotionPlanning/ros_ws/log/*
MotionPlanning/ros_ws/install/*
MotionPlanning/ros_ws/build/*

# Specific files to keep.
!ComputerVision/videos/test.txt
!ComputerVision/images/test.txt
!ComputerVision/build/test.txt

