[submodule "MotionPlanning/dev_ws/src/px4_msgs"]
	path = MotionPlanning/dev_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "MotionPlanning/dev_ws/src/px4_ros_com"]
	path = MotionPlanning/dev_ws/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
