[submodule "MotionPlanning/ros_ws/src/px4_msgs"]
	path = MotionPlanning/ros_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "MotionPlanning/ros_ws/src/px4_ros_com"]
	path = MotionPlanning/ros_ws/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "MotionPlanning/PX4-Autopilot"]
	path = MotionPlanning/PX4-Autopilot
	url = https://github.com/nipe1783/PX4-Autopilot.git
	branch = test
[submodule "MotionPlanning/PX4-Autopilot/Tools/simulation/gazebo-classic/sitl_gazebo-classic"]
	path = MotionPlanning/PX4-Autopilot/Tools/simulation/gazebo-classic/sitl_gazebo-classic
	url = https://github.com/nipe1783/sitl_gazebo-classic.git
	branch = test