.vscode/
build/
.DS_Store

# Computer Vision
ComputerVision/build/*
ComputerVision/videos/*
ComputerVision/images/*
ComputerVision/output/*

# Motion Planning
ros_ws/log/*
ros_ws/install/*
ros_ws/build/*

# Datasets
Datasets/*

# Specific files to keep.
!ComputerVision/videos/test.txt
!ComputerVision/images/test.txt
!ComputerVision/build/test.txt

# MPV4s
*.mp4

# HITL DATA:
ros_ws/hitl_data/*
!ros_ws/hitl_data/test.txt
